:root {
    --characteristic-color: #aaabbb !important;
    --highlight-color: yellow !important;
}

/* --------- */
/* Preloader */
/* --------- */

#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;

    background-color: black;
    background-image: url(../img/pre.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* --------- */
/* Scrollbar */
/* --------- */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--characteristic-color);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color);
    border-radius: 12px;
}