:root {
    --characteristic-color: #aaabbb !important;
    --highlight-color: yellow !important;
}

.highlight-text {
    color: var(--highlight-color);
}

#tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

.social-icons {
    display: inline-block !important;
    padding: 0 16px;
}

/* --------- */
/* Preloader */
/* --------- */

#preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;

    background-color: black;
    background-image: url('../img/pre.svg');
    background-repeat: no-repeat;
    background-position: center;

    &-none {
        opacity: 0;
    }
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* --------- */
/* Scrollbar */
/* --------- */

::-webkit-scrollbar {
    width: 8px;

    &-track {
        background: black;
    }

    &-thumb {
        background: var(--characteristic-color);
        border-radius: 12px;

        &:hover {
            background: var(--highlight-color);
            border-radius: 12px;
        }
    }
}
